.profile-container {
  width: 100%;
  padding: 20px 15px;
}

.profile-container .profile-user-conf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.profile-container .profile-user-conf .profile-conf-image-name {
  display: flex;
}

.profile-conf-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-conf-image i {
  font-size: var(--f-1-4em);
}

.profile-conf-image-name .conf-name p:nth-child(1) {
  padding-left: 20px;
  color: var(--cl-30);
  font-size: calc(var(--f-0-9em) + 0.5px);
}

.profile-conf-image-name .conf-name p:nth-child(2) {
  padding-left: 20px;
  color: var(--cl-15);
  font-size: calc(var(--f-0-8em) + 0.5px);
}
