:root {
  --cl-1: #4280ef;
  --cl-2: #2c2c2c;
  --cl-3: #ffffff;
  --cl-4: #ecf2f6;
  --cl-5: #144294;
  --cl-6: #f5f5f5;
  --cl-7: #e1e1e1;
  --cl-8: rgba(0, 173, 247, 0.2);
  --cl-9: #00aef7;
  --cl-10: #f78720;
  --cl-11: #e3e3e3;
  --cl-12: #f6f6f6;
  --cl-13: #909090;
  --cl-14: #f44336;
  --cl-15: #a7afbe;
  --cl-16: #f9f9f9;
  --cl-17: #f8d7da;
  --cl-18: #721c24;
  --cl-19: #f5c6cb;
  --cl-20: #856404;
  --cl-21: #fff3cd;
  --cl-22: #ffeeba;
  --cl-23: #155724;
  --cl-24: #d4edda;
  --cl-25: #c3e6cb;
  --cl-26: #2f80ed;
  --cl-27: #0f1828;
  --cl-28: #f7f7fc;
  --cl-29: #adb5bd;
  --cl-30: #4f5e7b;
  --cl-31: #333333;
  --cl-32: #1b1a57;
  --cl-33: #e8f0fb;
  --cl-34: #4ce417;
  --cl-35: #ebebeb;
  --cl-36: rgba(79, 94, 123, 0.2);
  --cl-37: rgba(0, 0, 0, 0.2);
}


