:root {
  --cl-1: #2e2e2e;
  --cl-2: #878a92;
  --cl-3: rgba(78, 172, 109, 0.6);
  --cl-4: #ffffff;
  --cl-5: #262626;
  --cl-6: #4eac6d;
  --cl-7: #2f2f2f;
  --cl-8: #adb5bd;
  --cl-9: #333;
  --cl-10: #adb5bd;
  --cl-11: rgba(255, 255, 255, 0.05);
  --cl-12: #c1c8cf;
  --cl-13: rgba(78, 172, 109, 0.3);
  --cl-14: #adb5bdbf;
  --cl-15: #4BA067;
  --cl-16: #4EAC6D;
  --cl-17: #616370;
  --cl-18: rgba(46, 46, 46, 0.95);
  --cl-19: #383838;
  --cl-20: #fffc;
  --cl-21: #ccc;
  --cl-22: #f4f4f4;
}
